body {
  background-color: #DEB6AB;
}

.App {
  text-align: center;
}

.App h1 {
  margin: 50px;
  font-size: 50px;
}

.quiz {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 300px;
  width: 700px;
  background-color: #AC7088;
  margin: auto;
  border-radius: 15px;

}

/*question section*/

.question-section {
  height: 300px;
  width: 350px;
}

.question-count {
  font-size: 35px;
  font-weight: 500;
  margin-top: 30px;
}

.question-text {
  font-size: 28px;
}

/*answer section*/

.answer-section {
  height: 300px;
  width: 300px;
  margin-top: 10px;
  margin-left: 20px;

}

.answer-section button {
  width: 90%;
  margin: 15px;
  font-size: 20px;
  color: black;
  background-color: transparent;
  border-radius: 15px;
  display: flex;
  padding: 10px;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid #F5E8C7;
  cursor: pointer;
}

button:hover {
  background-color: #555e7d;
}

/*answer section*/

.score-section {
  margin-top: 20px;
  font-size: 45px;
}

.score-section button {
  width: 45%;
  height: 20%;
  margin: 15px;
  font-size: 25px;
  color: black;
  background-color: #F5E8C7;
  border-radius: 15px;
  border: 3px solid black;
  cursor: pointer;

}

.score-section button:hover {
  background-color: #555e7d;
}